@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Khula');
h2 {
  text-align: center;
  margin: 50px 0 20px 0;
  font-weight: bold;
  font-family: 'Khula', sans-serif;
}
p {font-family: 'Khula', sans-serif;}
h3 {font-family: 'Oswald', sans-serif;}
h4 {
  font-family: 'Khula', sans-serif;
  color: #1e2935;
  font-weight: bold;
  font-size: 30px;
  margin-top: 20px;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.firstRow {
  width: 100%;
}
.firstRow p {
  margin-bottom: 30px
}

.secondRow {
  width: 100%;
  background-color: rgb(251,251,251);
  padding-top: 30px
}

.third1,.third2,.third3 {
  width: 340px;
}
.third1 img{
  position: absolute;
  transform: translate(-50px,13px);
}
.third2 img{
  position: absolute;
  transform: translate(-50px);
}
.third3 img{
  position: absolute;
  transform: translate(-35px);
}
  
.third1 h3,.third2 h3,.third3 h3{
  margin-top: 95px;
}
.why {
  flex-grow: 5;
}

.save {
  flex-grow: 6;
  max-width: 600px;
  -display: flex;
}

.save > div {
  display: inline-block;
  width: 49%;
}
.save > div:first-child {
  width: 100%;
}
.save > div p{
  width: 195px;
  margin: 15px auto 30px;
}
.perks {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  color: #1e2935;
  margin-top: 7px;
}
button{
    background-color: #0f94be;
    font-size: 20px;
    color: #fff;
    padding: 10px 80px;
    font-weight: bold;
    text-transform: uppercase;
@media screen and ( max-width: 670px ){
  .save > div {
  width: 97%;
}
}
