h2 {
  text-align: center;
  margin: 50px 0 10px 0;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.firstRow {
  width: 100%;
}

.secondRow {
  width: 100%;
  background-color: rgb(251,251,251);
}

.third1,.third2,.third3 {
  width: 340px;
}
.third1 img{
  position: absolute;
  transform: translate(-50px,13px);
}
.third2 img{
  position: absolute;
  transform: translate(-50px);
}
.third3 img{
  position: absolute;
  transform: translate(-35px);
}
  
.third h3{
  margin-top: 95px;
}
.perks {
  flex-grow: 5;
}

.save {
  flex-grow: 6;
  max-width: 600px;
  -display: flex;
}

.save > div {
  display: inline-block;
  width: 49%;
}
.save > div:first-child {
  width: 100%;
}
@media screen and ( max-width: 670px ){
  .save > div {
  width: 97%;
}
}
